# API Gateway
PORT=9000

# Auth Service
AUTH_PORT=9001
AUTH_HOST=127.0.0.1

# File Service
FILE_PORT=9002
FILE_HOST=127.0.0.1

# Attendance Service
ATTENDANCE_PORT=9003
ATTENDANCE_HOST=127.0.0.1

# Employee Service
EMPLOYEE_PORT=9004
EMPLOYEE_HOST=127.0.0.1

# Database Configuration
DATABASE_URL=mysql://dexa:dexa@127.0.0.1:3306/dexa_db

# JWT Configuration
JWT_SECRET=dexa_core_secret_key_change_me
JWT_EXPIRY=1d

# Timezone Configuration
OFFICE_TIMEZONE=Asia/Jakarta

# Storage / File Service Configuration (S3 Compatible)
S3_STORAGE_ENDPOINT=http://127.0.0.1:9000
S3_STORAGE_REGION=us-east-1
S3_STORAGE_ACCESS_KEY_ID=5710f3c15a365d1e5d730eded34c5a12
S3_STORAGE_SECRET_ACCESS_KEY=minioadmin
S3_STORAGE_BUCKET_NAME=dexa-bucket
S3_STORAGE_FORCE_PATH_STYLE=true
S3_STORAGE_PUBLIC_URL=http://127.0.0.1:9000/dexa-bucket
