# API Gateway
PORT=9000

# Auth Service
AUTH_PORT=9001
AUTH_HOST=127.0.0.1

# File Service
FILE_PORT=9002
FILE_HOST=127.0.0.1

# Attendance Service
ATTENDANCE_PORT=9003
ATTENDANCE_HOST=127.0.0.1

# Employee Service
EMPLOYEE_PORT=9004
EMPLOYEE_HOST=127.0.0.1

# Database Configuration
DATABASE_URL=mysql://dexa:dexa@127.0.0.1:3306/dexa_db

# JWT Configuration
JWT_SECRET=dexa_core_secret_key_change_me
JWT_EXPIRY=1d
